body{
    margin:0;
}
.centered{
	text-align: center;
}
.canvas {
    display:inline-block;
}

h1{
    color: white;
}
#info {
	padding: 20px;
	margin-bottom: 10px;
    /*background-color: white;*/
}
#panel{
    position: absolute;
    background-color: white;
    width: 30%;
    min-height: 600px;
    display: none;
    padding-top: 30px;
    padding-left: 20px;
    top:20px;
    border: 1px solid gray;
}
#panelbutton{
    position: absolute;
    width: 4%;
    min-height: 600px;
    top:20px;
    background-color: rgba(1, 1, 0, 0.9);
    border:1px solid black;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
#bowl{
    width:100%;
    position: absolute;
    top:20px;
    background-color: blue;
}

#popup{
    position: absolute;
    min-width: 300px;
    width: auto;
    min-height: 200px;
    background-color: white;
    right: 20px;
    top: 20px;
    padding:25px;
    border: 2px solid gray;
    border-radius: 6px;
    text-align: center;
    display: none;
}

#searchfield{
    position: absolute;
    width: 20%;
    right: 20px;
    top: 20px;   
    padding:5px;
}

#spawnbutton{
    width: 70%;
    position: relative;
    margin: auto;
    color:white;
    font-weight: bold;
    font-size: 20px;
}

a.logo{
    text-decoration: none;
    color: #181818;
}

#footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; 
    margin:0;
    padding-right:50px;
    padding-bottom: 30px;
    font-family: "ClearLine";
    color: #181818;
    text-align: right;
    font-size: 2.5em;
    border-bottom: 10px solid #00bdff;
}

p.title{
    padding: 0;
    margin: 0;
    font-family: 'Porky';
}

#header{
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 20px;
    padding: 5px;
    margin-top: 0px;
    z-index: 1;
    text-align: center;
    border-top: 4px solid #00bdff;
}

/* Close button on form */
#x {
    position: absolute;
    right: 10px;
    top: 10px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    color: black;
}

#arrow-right {
    width: 0; 
    height: 0;
    position: absolute;
    top:47%;
    left: 40%; 
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    
    border-left: 20px solid white;
}

@font-face {
  font-family: 'Porky';
  src: url('../assets/fonts/porky.woff') format('woff'),
       url('../assets/fonts/porky.ttf') format('truetype');
}

@font-face {
  font-family: 'ClearLine';
  src: url('../assets/fonts/ClearLine.woff') format('woff'),
       url('../assets/fonts/ClearLine.ttf') format('truetype');
}