#panel {
    display:inline-block;
    min-width: 300px;
    width:30%;
    float:left;
    border:1px solid black;
    padding-left: 15px;
    padding-right: 15px;
}
.title{
	text-align: center;
}
.hide {
    display:none;
}

.canvas {
    display:inline-block;
}