<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>

	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.0.2/css/foundation.min.css">
	<!--This document /socket.io/socket.io.js is served by the socket running, it is
		fetched from the socet.io folder and made available realtime. No need to move doc-->
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src='javascript/imageManager.js'></script>
	<script type="text/javascript" src='javascript/herring.js'></script>
	<script type="text/javascript" src='javascript/fishbowl.js'></script>
	<script type="text/javascript" src='javascript/main.js'></script>
</head>
<body>
	<script id="displayInfo" type="solveig/template">
		<p>Herring #number</p>
		<p>Name: name</p>
		<p>Created: created</p>
		<p>City of origin: city</p>
		<p>Property: property</p>
	</script>

	<div id="header">
		<p class="title">Salty Herrings .</p>
	</div>
	<div id="bowl">
		<div id="panel">
			<div id="x">X</div>
			<h1 class="centered">Salty Herrings.</h1>
			<div id="info">
				<p class="centered">A social network for herrings.</p>
				<tr />
				<p>If you want to join a network of interesting people
				without ever having to get to know them, you have definitely
				come to the right place!</p>
				<br />
				<p> Choose a name for your herring and press the big salty button.</p>
				<center><input id="nameInput" value="" placeholder="Choose a name" /></center>
				<br /><br />
				<center><button id="spawnbutton">SPAWN</button></center>
			</div>
		</div><!--End panel -->

		<div id="panelbutton">
			<div id="arrow-right"></div>
		</div>

		<div id="popup">
		</div>

		<input id="searchfield" type="search" value="" placeholder="Search by name"
			list="datalist1" />
		<datalist id="datalist1">
		{% for h in herrings %}
			<option value="{{h.data.name}}" />
		{% endfor %}
		</datalist>

		<div id="footer"><a class="logo" href="http://hakestad.io">hakestad.io</a></div>

	</div>	

</body>
</html>

